<h1>Welcome to Scrabble Score!</h1>
<form action = "/score">
  <div class = "form-group">
    <label for = "score"> Type a word to find the scrabble score! </label>
    <input id = "score" name = "score" class = "form-control" type = "text">
  </div>
    <button type = "submit" class = "btn-success">Get my score!</button>
</form>
